* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #fff;
    --reactDefaultColor: #282c34;
}

form {
    width: 70%;
}

.searchWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.formGroup {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.formControl {
    background-color: var(--reactDefaultColor);
    color: var(--white);
    border: 2px solid var(--white);
    width: 100%;
    padding: 12px 2px 10px 100px;
    border-radius: 8px;
}

.searchResult {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--reactDefaultColor);
    width: 100%;
    border-radius: 8px;
}

.link {
    padding: 5px 10px 5px 10px;
    color: var(--white);
    background-color: var(--reactDefaultColor);
    border: 1px solid varf(--white);
    border-radius: 8px;
    text-decoration: none;
    width: 100%;
}

.link:hover {
    background-color: var(--black);
}