* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #fff;
}

.card {
    background-color: var(--black);
    width: 500px;
    height: 500px;
    color: var(--white);
}